fastapi==0.111.0
uvicorn==0.29.0
python-multipart==0.0.12
moviepy==1.0.3
scenedetect==0.6.2
openai-whisper==20231117
gtts==2.5.1
librosa==0.10.1
opencv-python==4.9.0.80
deep-translator==1.11.4
numpy==1.26.4
pydub==0.25.1
pydantic==2.9.2